# Cache and session directories
cache/n11_dropout_0_1_sesh
data/
cache/decoder/
cache/encoder/
configs/decoder.yaml
configs/encoder.yaml
examples/
Analysis_backup.ipynb
algo_backup.ipynb
area_dinv_eda.ipynb


# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
